.calculator {
    border-radius: 6px;
    overflow: hidden;
    height: 320px;
    width: 235px;

    display: grid;
    column-gap: 1px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}